body {
    background-color: black;
}

.theweb{
    color: yellow;
}
.theweb2{
    color: darkred;
}
.theweb3{
    color: pink;
}
.theweb4{
    color: blue;
}
.thebutton{
    color: saddlebrown;
    cursor: grab;
}
.dsa {
    cursor: grab;
    color: pink;
}
