.parent-div {
    width: 500px;
    height: 500px; 
    background-color:blue;
    position: relative;
}


.child-div {
    width: 25%;
    height: 25%;
    background-color:red;
    position: absolute;
}


.child-div p {
    font-size: 50%;
    
}